:root {
    --color-numeros: #ffffff;
    --color-header: #74b3c1;
    --color-borde-reloj: #74b3c1;
    --color-btns-reloj: #516091;
    --color-fondo-reloj: #eef3ad;
    --color-borde-header: #eef3ad;
    --color-btn-dia-noche: #eef3ad;
    --color-outline-reloj: #adebbe;
    --color-segundero: #75b79e;
    --color-fondo: #f5ffcb;
    --color-titulo-cambiante: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    transition: background-color 3s;
}

.grid-container {}

.grid__header-container {
    background-color: var(--color-header);
    border-bottom: 5px solid var(--color-borde-header);
    transition: background-color 3s, border-bottom 3s;
}

.typed {}

.btn-dia-noche-container {
    background: var(--color-btns-reloj);
    border-radius: 350px;
    transition: background-color 3s;
}

.btn-dia-noche {
    background-color: var(--color-btn-dia-noche);
    border-radius: 50%;
    border: none;
    transition: background-color 3s;
}

.img-btn-dia-noche {
    filter: invert();
}

.grid__main-container {}

.img-hojas {}

.grid__reloj-container {}

.reloj-principal {
    background-color: var(--color-fondo-reloj);
    border: 25px solid var(--color-borde-reloj);
    outline: 7px solid var(--color-outline-reloj);
    border-radius: 50%;
    transition: background-color 3s, border 3s, outline 3s;
}

.timer-principal__mas-tiempo button {
    font-size: 20px;
    border: none;
    font-weight: bolder;
    background-color: transparent;
    color: var(--color-btns-reloj);
    transition: color 3s;
}

.timer-principal__tiempo span {
    color: var(--color-titulo-cambiante);
    transition: color 3s;
}

.timer-principal__tiempo span:nth-child(2) {
    color: var(--color-btns-reloj);
    transition: color 3s;
}

.timer-principal__tiempo span:last-child {
    color: var(--color-segundero);
    transition: color 3s;
}

.timer-principal__menos-tiempo button {
    font-size: 30px;
    border: none;
    font-weight: bolder;
    background-color: transparent;
    color: var(--color-btns-reloj);
    transition: color 3s;
}

.btn-modificar {
    border: none;
    background-color: var(--color-btns-reloj);
    border-radius: 50%;
    transition: background-color 3s;
}

.img-btn-modificar {
    filter: invert()
}

.btn-reset {
    color: var(--color-titulo-cambiante);
    font-weight: bolder;
    font-size: 15px;
    border-radius: 50%;
    border: 5px solid var(--color-segundero);
    background-color: var(--color-btns-reloj);
    transition: background-color 3s;
}

.btn-play {
    border: none;
    background-color: var(--color-btns-reloj);
    border-radius: 50%;
    transition: background-color 3s;
}

.img-btn-play {
    filter: invert()
}

.container-sonidos {}

.contenedor-sonido {
    background-color: #adebbe;
}

.titulo-sonido {
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 17px;
    font-weight: bolder;
}

.btn-play-sonido {
    justify-self: end;
    border: none;
    border-radius: 5px;
    background-color: #74b3c1;
}

.img-play-sonido {
    filter: invert();
}

.volumen-sonido {
    filter: saturate(0.5);
}